@use "variables";
@use "queries";

//COMMENT ESTILOS DEFAULT

body {
  font-family: "Shippori Antique", sans-serif;
  background-color: variables.$color-fondo;
  color: variables.$color-letra;
  margin: 0;
}

main {
  
  display: grid;
  grid-template-rows: minmax(800px, variables.$altura-principal) repeat(
      auto-fit,
      variables.$altura-secciones
  );

  @include queries.media-up(sm){
    main{
      grid-template-rows: repeat(auto-fit,minmax(min(100%,23rem),80vh));
    }
  }

  @include queries.media-up(md){
    main{
      grid-template-rows: repeat(auto-fit,minmax(min(100%,23rem),60vh));
    }
  }

  @include queries.media-up(lg){
    main{
      grid-template-rows: repeat(auto-fit,minmax(min(100%,23rem),40vh));
    }
  }

}

img {
  max-width: 100%;
}

h2 {
  font-size: variables.$fs-h2;
  line-height: 120%;
}

p {
  font-size: variables.$fs-p;
}

section,
footer {
  position: relative;
  z-index: 10;
  background-color: variables.$color-fondo;
}
