/* 
//COMMENT SECCION PRINCIPAL
*/

.principal {
  max-height: var(--altura-principal);
  min-height: 100px;
}

.principal__fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

.principal__anuncio {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 50;
  justify-content: flex-end;
}

.principal__anuncio-box {
  max-width: var(--principal-max-widht);
  max-height: 80%;
  min-height: 22rem;
  background-color: rgba(0, 0, 0, 0.459);
  border-radius: var(--borde-radio);
  padding: 2rem;
  margin: 0rem 2rem 2rem 2rem;
}

.principal__anuncio-box h2 {
  margin: 0;
  font-size: var(--principal-fs-h2);
}

.principal__anuncio-box p {
  font-size: var(--principal-fs-p);
}

.principal__anuncio-box h2,
.principal__anuncio-box p {
  max-width: var(--principal-fs-max-widht);
}

.principal__anuncio-box-opciones {
  display: flex;
  padding: 0;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: space-between;
}

.principal__anuncio-box-opciones a {
  text-decoration: none;
  color: var(--color-letra);
  font-size: var(--principal-fs-a);
  border-radius: var(--borde-radio);
  padding: 1rem;
  margin-top: 0.8rem;
  transition: ease-in 0.3s;
}

.principal__anuncio-box-opciones a:first-child {
  background: linear-gradient(
    to right,
    rgb(3, 11, 58),
    var(--color-opcion-principal)
  );
}

.principal__anuncio-box-opciones a:first-child:hover {
  filter: brightness(150%);
}

.principal__anuncio-box-opciones a:not(:first-child) {
  background-color: black;
}

.principal__anuncio-box-opciones a:not(:first-child):hover {
  background-color: white;
  color: black;
}

.principal__anuncio-flecha {
  position: absolute;
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 1.6rem;
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.644);
  background-size: auto;
  background-position: 50%;
  background-repeat: no-repeat;
  border: none;
  margin-bottom: 2.5rem;
  align-self: center;
  display: inline-block;
  background-image: url("/assets/img/flecha.svg");
  animation: flecha-sig-seccion 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.89, 0.72, 0.64, 0.93);
  box-shadow: 5px 5px 10px 3px black;
}
