// COMMENT VARIABLES

// FONT SIZE GENERAL
$fs-p: 1.2rem;
$fs-h2: 3rem;

// COLOR
$color-fondo: rgb(12, 23, 75);
$color-letra: rgb(247, 238, 238);
$color-opcion-principal: rgba(62, 117, 219, 0.6);
$color-opcion-secundaria: rgb(29, 34, 44, 0.6);
$color-opcion-activada: blue;

// BORDE BOTONES
$borde-radio: 0.5rem;

// MENU DE NAVEGACION
$nav-height-logo: 3rem;
$nav-height-logo-sm: 2rem;
$nav-fs: 1rem;
$nav-margin-logo: 2rem;
$nav-margin-logo-sm: 1rem;
$nav-margin-option: 2rem;
$nav-margin-option-sm: 1rem;

// PRINCIPAL
$principal-fs-h2: clamp(1.5rem,4vmin,3rem);
$principal-fs-p: clamp(1rem,2.5vmin,1.4rem);
$principal-fs-a: clamp(.8rem,2.5vmin,1.2rem);
$principal-height: clamp(800px,1100px,100vh - 80px);
$principal-max-width: max(50vmin, 20%);
$principal-max-width-sm: 100%;
// $altura-principal: ;
$altura-secciones: 100vh;

// SECCIONES
$seccion-fs-h2: clamp(1.5rem,4.5vmin,4rem);
$seccion-fs-h3: clamp(1.2rem,3vmin,2rem);
$seccion-fs-p: clamp(1rem,2vw,1.6rem);
$seccion-height: clamp(800px,1100px,100vh - (80px + 2rem));


// CAROUSEL
$cant-carousel: 4;
$cant-carousel-md: 3;
$cant-carousel-sm: 2;
