@import "./base/default.css";
@import "./animaciones.css";
@import "./secciones/principal.css";
@import "./secciones/exclusivo.css";

/* 
//COMMENT MEDIA QUERIES
*/

@media only screen and (max-width: 1500px) {
  :root {
    --principal-max-widht: 22rem;
    --principal-fs-h2: 2rem;
    --principal-fs-p: 1rem;
    --principal-fs-a: 1.1rem;
    --principal-fs-max-widht: 20rem;

    --altura-principal: calc(100vh - 180px);
  }
}

@media only screen and (max-width: 1200px) {
  :root {
    --principal-max-widht: 20rem;
    --principal-fs-h2: 1.7rem;
    --principal-fs-p: 0.9rem;
    --principal-fs-a: 1rem;
    --principal-fs-max-widht: 18rem;

    --cant-carousel: 4;
  }
}

@media only screen and (max-width: 900px) {
  nav a {
    display: none;
  }

  :root {
    --nav-height-logo: 2rem;
    --nav-fs: 0.7rem;
    --nav-margin-logo: 1rem;
    --nav-margin-option: 1rem;

    --principal-max-widht: 100%;
    --principal-fs-h2: 1.5rem;
    --principal-fs-p: 0.8rem;
    --principal-fs-a: 0.8rem;
    --principal-fs-max-widht: 100%;

    --cant-carousel: 3;
  }
}
