:root {
  --color-fondo: rgb(44, 42, 42);
  --color-letra: rgb(247, 238, 238);
  --color-opcion-principal: rgb(62, 117, 219);
  --color-opcion-activada: blue;
  --altura-principal: calc(100vh - 80px);
  --borde-radio: 0.5rem;
}

body {
  font-family: "Shippori Antique", sans-serif;
  background-color: var(--color-fondo);
  color: var(--color-letra);
  display: grid;
  grid-template-rows: auto 4fr 2fr;
  margin: 0;
}

main {
  display: grid;
  grid-template-rows: var(--altura-principal) repeat(5, 0.5fr);
}

/* CONTENIDO DE CADA SECCION */
section div {
  padding: 0rem 2rem;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
}

/* ESTILO MENU (NAV) */

/* LOGO */
nav img {
  margin-left: 1rem;
  height: 3rem;
  object-fit: scale-down;
  padding: 1rem;
}

header {
  position: sticky;
  top: 0;
  background: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
  z-index: 100;
}

/* NAV */
header nav {
  display: inline-block;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 80px;
  align-items: center;
}

/* LISTA DE OPCIONES */
header nav ul {
  justify-self: end;
}

/* CADA OPCION */
header nav ul li {
  display: inline-block;
}

header nav ul li a {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 800;
  border-radius: var(--borde-radio);
  text-decoration: none;
  color: var(--color-letra);
}

/* PRIMERA OPCION */
header nav ul li:first-child a {
  background-color: var(--color-opcion-principal);
}

/* SEGUNDA OPCION */
header nav ul li:last-child a {
  background-color: rgb(29, 34, 44);
  border: 3px solid rgb(21, 21, 36);
}

section{
    position: relative;
    z-index: 10;
    background-color: var(--color-fondo);
}

/* SECCION PRINCIPAL */


.principal__fondo{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

.principal__anuncio {
  width: 32%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 50;
  justify-content: flex-end;
}

.principal__anuncio-box {
  background-color: rgba(0, 0, 0, 0.459);
  border-radius: var(--borde-radio);
  padding: 2rem;
  margin-bottom: 2rem;
}

.principal__anuncio-box h2 {
    margin: 0;
  }

.principal__anuncio-box-opciones{
    display: flex;
    padding: 0;
    flex-direction: column;
    width: 70%;
    text-align: center;
    justify-content:space-between;
}

.principal__anuncio-box-opciones a{
    text-decoration: none;
    color: var(--color-letra);
    font-size: 1.2rem;
    border-radius: var(--borde-radio);
    padding: 1rem;
    margin-top: 0.8rem;
}

.principal__anuncio-box-opciones a:first-child{
    background-color: var(--color-opcion-principal);
}

.principal__anuncio-box-opciones a:not(:first-child){
    background-color: black;
}
