@use "../util/variables";
@use "../util/queries";
@use "../util/transiciones";
@use "./carousel.scss";


//COMMENT SECCION EXCLUSIVO

.exclusivo {
  display: flex;
  flex-direction: column;
  z-index: 21;
}

.exclusivo__fondo{
  background: linear-gradient(to right, black, transparent),
    url("/public/assets/img/promo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0px;
  height: 100%;
  width: 100%;
}

.exclusivo__anuncio {

  width: 40%;

  &.animate{
    @include transiciones.translate("x",-40%);
  }

  @include queries.media-down(md) {
    width: 60%;
  }

  @include queries.media-down(sm) {
    width: 80%;
  }
}

