@use "../base/variables";
@use "../base/queries";
@use "./carousel.scss";

//COMMENT SECCION EXCLUSIVO

.exclusivo {
  background: linear-gradient(to right, black, transparent),
    url("/public/assets/img/promo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 80px 2rem 2rem 2rem;
}

.exclusivo__anuncio {
  width: 40%;

  h2 {
    font-size: variables.$seccion-fs-h2;
    margin-bottom: 0;
  }

  p {
    font-size: variables.$seccion-fs-p;
  }

  @include queries.media-down(md) {
    width: 60%;
  }

  @include queries.media-down(sm) {
    width: 80%;
  }
}

