@use "../util/queries";
@use "../util/transiciones";

.favoritos {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.favoritos__fondo{
  background: linear-gradient(0.4turn,#000000 40%, transparent 90%);
  background-color: rgb(109, 35, 179);
  transform: skewY(3deg);
  position: absolute;
  left: 0;
  top: -60px;
  height: 100%;
  width: 100%;
}

.favoritos__anuncio {
  position: relative;
  text-align: end;
  width: 50%;

  &.animate{
    @include transiciones.translate("x",20%);
  }

  @include queries.media-down(md) {
    width: 40%;
  }

  @include queries.media-down(sm) {
    width: 100%;
  }
}

.favoritos__marco {
  width: 40%;
  position: relative;
  z-index: 5;

  @include queries.media-down(md) {
    width: 60%;
  }

  @include queries.media-down(sm) {
    width: 100%;
    overflow: hidden;
  }
}

.favoritos__box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
  gap: 20px 20px;
  transform: rotateZ(349deg) rotateX(359deg) rotateY(9deg);

  @include queries.media-down(md) {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
  }

  @include queries.media-down(sm) {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
}

.favoritos__item {
  min-width: 200px;
  height: 200px;
  position: relative;

  img {
    height: 100%;
    object-fit: cover;
    object-position: top;
    width: 100%;
    border-radius: 0.5rem;
  }

  &.animate{
    @include transiciones.translateRotate("y",20%,35deg);
  }

  &.modified {
    grid-column: span 3;
    grid-row: span 2;
    height: 100%;

    &.animate{
      @include transiciones.translateRotate("y",-20%,35deg);
    }

    @include queries.media-down(md) {
      grid-column: span 2;
      grid-row: span 2;
    }

    @include queries.media-down(sm) {
      grid-column: span 1;
      grid-row: span 1;
      transform: rotate3d(0,0,0,0deg);

      &.animate{
        @include transiciones.desactivateTranslateRotate();
      }
    }
  }

  @include queries.media-down(sm) { 
    transform: rotate3d(0,0,0,0deg);

    &.animate{
      @include transiciones.desactivateTranslateRotate();
    }
  }
}

.favoritos__item-text{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.808);
  transition: opacity .4s ease-out;
  font-size: clamp(1.2rem,1vmin,2rem);

  &.modified{
    font-size: clamp(1.5rem,3vmin,2rem);
  }

  &:hover{
    opacity: 1;
  }

  @include queries.media-down(sm) {
    display: none;
  }

}
