@use "../util/variables";
@use "../util/animaciones";
@use "../util/queries";
@use "../util/bottons";

//COMMENT SECCION PRINCIPAL

.principal{
  height: variables.$principal-height;
}

.principal__fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

.principal__anuncio {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 50;
  justify-content: flex-end;

  .principal__anuncio-box {
    max-width: variables.$principal-max-width;
    min-width: 20%;
    max-height: 75%;
    min-height: min(40%, 80rem);
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: variables.$borde-radio;
    padding: 2rem;
    margin-bottom: 2rem;

    @include queries.media-down(sm){
      max-width: variables.$principal-max-width-sm;
    }

    h2 {
      margin: 0;
      font-size: variables.$principal-fs-h2;
    }

    p {
      font-size: variables.$principal-fs-p;
    }

    .principal__anuncio-box-opciones {
      display: flex;
      padding: 0;
      flex-direction: column;
      width: 100%;
      text-align: center;
      justify-content: space-between;

      a {
        margin-top: 0.8rem;

        &:first-child {
          @extend %botonPrincipal;
        }

        &:not(:first-child) {
          @extend %botonSecundario;
        }

      }
    }
  }

}



