@use "../util/variables";
@use "../util/queries";

//COMMENT ESTILOS DEFAULT

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Shippori Antique", sans-serif;
  background-color: variables.$color-fondo;
  color: variables.$color-letra;
  margin: 0;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;

  section{
    padding: 0px 2rem;
    overflow: hidden;
  }

  section:not(:first-child) {
    height: variables.$seccion-height;
    padding: 80px 2rem 2rem 2rem;

    h2 {
      font-size: variables.$seccion-fs-h2;
      margin-bottom: 0;
    }

    p {
      font-size: variables.$seccion-fs-p;
    }

    h3{
      font-size: variables.$seccion-fs-h3;
    }
  }
}

img {
  max-width: 100%;
}

h2 {
  line-height: 120%;
  text-transform: uppercase;
}

p {
  font-size: variables.$fs-p;
}

section,
footer {
  position: relative;
  z-index: 20;
  background-color: variables.$color-fondo;
}
